.fc-event-action {
  margin-top: -18px;
  float: right;  
  clear: none;
  position: relative;
  z-index: 2;
}

.fc-event-action .tools {
  display: none;  
}

.fc-event-action:hover .tools {
  display: block;  
}

.fc-event-action:hover .tools a img,
.fc-event-action:hover .tools a{
  float: right;
  clear: none;
  display: block;
  width: 16px;
}

.fc-event-action:hover > img {
  display: none;  
}